<div id="user-wrapper">
  <div class="row mx-4 my-2">
    <div>
      <h2 class="float-start">
        {{ "user.title" | translate }}
      </h2>
    </div>
    <div class="col-12 mb-3">
      <h3 class="float-start my-1">
        {{ "user.listOfUsers" | translate }}
      </h3>
      <div class="float-end d-flex align-items-center gap-2">
        <button mat-button class="btn-primary" (click)="openUserDialog('add')">
          <mat-icon>add</mat-icon>
          <span>
            {{ "user.createNewUser" | translate }}
          </span>
        </button>
      </div>
    </div>
    <div class="col-12 user-list mb-3">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="name">
          <th class="text-left ps-4" mat-header-cell *matHeaderCellDef>
            {{ "user.table.name" | translate }}
          </th>
          <td class="text-left ps-4" mat-cell *matCellDef="let element">
            {{ element.name }}
          </td>
        </ng-container>
        <ng-container matColumnDef="email">
          <th class="text-center" mat-header-cell *matHeaderCellDef>
            {{ "user.table.email" | translate }}
          </th>
          <td class="text-center" mat-cell *matCellDef="let element">
            {{ element.email }}
          </td>
        </ng-container>
        <ng-container matColumnDef="phone">
          <th class="text-center" mat-header-cell *matHeaderCellDef>
            {{ "user.table.phone" | translate }}
          </th>
          <td class="text-center" mat-cell *matCellDef="let element">
            {{ element.phone }}
          </td>
        </ng-container>
        <ng-container matColumnDef="isAdmin">
          <th class="text-center" mat-header-cell *matHeaderCellDef>
            {{ "user.table.admin" | translate }}
          </th>
          <td class="text-center" mat-cell *matCellDef="let element">
            {{ element.isAdmin ? "Admin" : "User" }}
          </td>
        </ng-container>
        <ng-container matColumnDef="isActive">
          <th class="text-center" mat-header-cell *matHeaderCellDef>
            {{ "user.table.active" | translate }}
          </th>
          <td class="text-center" mat-cell *matCellDef="let element">
            {{ element.isActive ? "Enabled " : "Disabled" }}
          </td>
        </ng-container>
        <ng-container matColumnDef="createdTime">
          <th class="text-center" mat-header-cell *matHeaderCellDef>
            {{ "user.table.createdTime" | translate }}
          </th>
          <td class="text-center" mat-cell *matCellDef="let element">
            {{ element.createdTime | date : "medium" }}
          </td>
        </ng-container>
        <!-- <ng-container matColumnDef="modify">
          <th class="text-center" mat-header-cell *matHeaderCellDef>
            {{ "action.modify" | translate }}
          </th>
          <td class="text-center" mat-cell *matCellDef="let element">
            <mat-icon
              class="text-warning pointer"
              (click)="openUserDialog('edit', element._id)"
            >
              edit
            </mat-icon>
          </td>
        </ng-container> -->
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
    <mat-paginator
      #userPaginator
      [length]="totalRecords"
      [pageSize]="5"
      [pageSizeOptions]="[5, 10, 20, 30, 40, 50]"
    ></mat-paginator>
  </div>
</div>
