<div id="contacts-wrapper">
  <div class="row mx-4 my-2">
    <div>
      <h2 class="float-start" id="contacts-heading">
        {{ "shared.contacts" | translate }}
      </h2>
      <!-- <form class="float-end">
        <button
          mat-button
          (click)="applySelectFilter(searchText.value, 'contactName')"
        >
          <mat-icon>search</mat-icon>
        </button>
        <mat-form-field>
          <input
            matInput
            placeholder="{{ 'action.search' | translate }}"
            [formControl]="searchText"
          />
        </mat-form-field>
        <button mat-button (click)="reset()"><mat-icon>clear</mat-icon></button>
      </form> -->
    </div>
    <!-- <div class="col-12 my-3" id="contacts-filter-wrapper">
      <mat-card class="contact-filters-card">
        <mat-card-header>
          <mat-card-title>
            <h3>Filter group</h3>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="filter-group row justify-content-center mx-2 my-4">
            <div class="selected-filters col-4">
              <p class="text-bold">Selected filters</p>
              <div class="row">
                <div class="col-md-12 col-lg-auto">
                  <mat-form-field appearance="outline">
                    <mat-label>{{ "contacts.leadSrc" | translate }}</mat-label>
                    <mat-select
                      [formControl]="leadSrc"
                      (selectionChange)="
                        applySelectFilter($event['value'], 'leadSrc')
                      "
                    >
                      <mat-option
                        *ngFor="let src of leadSources"
                        [value]="src"
                        >{{ src }}</mat-option
                      >
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-md-12 col-lg-auto">
                  <mat-form-field appearance="outline" *ngIf="show">
                    <mat-label>{{ "shared.assignedTo" | translate }}</mat-label>
                    <mat-select
                      [formControl]="assignedTo"
                      (selectionChange)="
                        applySelectFilter($event['value'], 'assignedTo')
                      "
                    >
                      <mat-option
                        *ngFor="let user of assignedToUsers$ | async"
                        [value]="user['name']"
                        >{{ user.name }}</mat-option
                      >
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div class="created-time-date-range col-4">
              <p class="text-bold">{{ "date.createdTime" | translate }}</p>
              <form
                [formGroup]="createdTimeForm"
                (ngSubmit)="applyDateFilter(createdTimeForm, 'createdTime')"
              >
                <div class="row">
                  <div class="col-md-12 col-lg-auto">
                    <mat-form-field appearance="outline">
                      <mat-label>{{ "date.from" | translate }}</mat-label>
                      <input
                        matInput
                        [matDatepicker]="createdTimeFromPicker"
                        formControlName="createdTimeFrom"
                      />
                      <mat-datepicker-toggle
                        matSuffix
                        [for]="createdTimeFromPicker"
                      ></mat-datepicker-toggle>
                      <mat-datepicker #createdTimeFromPicker></mat-datepicker>
                      @if
                      (createdTimeForm.controls['createdTimeFrom'].errors?.['restrict'])
                      {
                      <mat-error>
                        From field must be less than To field
                      </mat-error>
                      }
                    </mat-form-field>
                  </div>
                  <div class="col-md-12 col-lg-auto">
                    <mat-form-field appearance="outline">
                      <mat-label>{{ "date.to" | translate }}</mat-label>
                      <input
                        matInput
                        [matDatepicker]="createdTimeToPicker"
                        formControlName="createdTimeTo"
                      />
                      <mat-datepicker-toggle
                        matSuffix
                        [for]="createdTimeToPicker"
                      ></mat-datepicker-toggle>
                      <mat-datepicker #createdTimeToPicker></mat-datepicker>
                    </mat-form-field>
                  </div>
                </div>
                <div class="mt-2 p-0">
                  <button
                    [ngClass]="
                      createdTimeForm.invalid ? 'btn-disabled' : 'btn-grey'
                    "
                    mat-button
                    type="submit"
                    [disabled]="createdTimeForm.invalid"
                  >
                    <span>{{ "action.apply" | translate }}</span>
                  </button>
                </div>
              </form>
            </div>
            <div class="updated-time-date-range col-4">
              <p class="text-bold">{{ "date.updatedTime" | translate }}</p>
              <form
                [formGroup]="updatedTimeForm"
                (ngSubmit)="applyDateFilter(updatedTimeForm, 'updatedTime')"
              >
                <div class="row">
                  <div class="col-md-12 col-lg-auto">
                    <mat-form-field appearance="outline">
                      <mat-label>{{ "date.from" | translate }}</mat-label>
                      <input
                        matInput
                        [matDatepicker]="updatedTimeFromPicker"
                        formControlName="updatedTimeFrom"
                      />
                      <mat-datepicker-toggle
                        matSuffix
                        [for]="updatedTimeFromPicker"
                      ></mat-datepicker-toggle>
                      <mat-datepicker #updatedTimeFromPicker></mat-datepicker>
                      @if
                      (updatedTimeForm.controls['updatedTimeFrom'].errors?.['restrict'])
                      {
                      <mat-error>
                        From field must be less than To field
                      </mat-error>
                      }
                    </mat-form-field>
                  </div>
                  <div class="col-md-12 col-lg-auto">
                    <mat-form-field appearance="outline">
                      <mat-label>{{ "date.to" | translate }}</mat-label>
                      <input
                        matInput
                        [matDatepicker]="updatedTimeToPicker"
                        formControlName="updatedTimeTo"
                      />
                      <mat-datepicker-toggle
                        matSuffix
                        [for]="updatedTimeToPicker"
                      ></mat-datepicker-toggle>
                      <mat-datepicker #updatedTimeToPicker></mat-datepicker>
                    </mat-form-field>
                  </div>
                </div>
                <div class="mt-2 p-0">
                  <button
                    [ngClass]="
                      updatedTimeForm.invalid ? 'btn-disabled' : 'btn-grey'
                    "
                    mat-button
                    type="submit"
                    [disabled]="updatedTimeForm.invalid"
                  >
                    {{ "action.apply" | translate }}
                  </button>
                </div>
              </form>
            </div>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <button class="btn-grey" mat-button (click)="reset()">
            Reset all
          </button>
        </mat-card-actions>
      </mat-card>
    </div> -->
    <div class="col-12 my-3">
      <h3 class="float-start my-1">List of Contacts</h3>
      <div
        id="contacts-button-row"
        class="float-end d-flex align-items-center gap-2"
      >
        <!-- Mass delete button -->
        <button
          mat-button
          [disabled]="isDisabled"
          [ngClass]="isDisabled ? 'btn-disabled' : 'btn-danger'"
        >
          <mat-icon>delete</mat-icon>
          <span>{{ "action.delete" | translate }}</span>
        </button>

        <button class="btn-primary" mat-button (click)="openFormDialog('add')">
          <mat-icon>add</mat-icon>
          <span>Create new Contact</span>
        </button>
      </div>
    </div>
    <div class="col-12 my-3 contacts-list">
      <table
        id="list-of-contacts"
        mat-table
        [dataSource]="dataSource"
        class="mat-elevation-z8"
      >
        <ng-container matColumnDef="check">
          <th mat-header-cell *matHeaderCellDef class="text-center"></th>
          <td class="text-center" mat-cell *matCellDef="let element">
            <input type="checkbox" [value]="element._id" />
          </td>
        </ng-container>

        <ng-container matColumnDef="contactName">
          <th mat-header-cell *matHeaderCellDef class="text-center">
            {{ "shared.name" | translate }}
          </th>
          <td class="text-center pointer" mat-cell *matCellDef="let element">
            {{ element.contactName }}
          </td>
        </ng-container>

        <ng-container matColumnDef="salutation">
          <th mat-header-cell *matHeaderCellDef class="text-center">
            {{ "contacts.salutation" | translate }}
          </th>
          <td class="text-center" mat-cell *matCellDef="let element">
            {{ element.salutation }}
          </td>
        </ng-container>

        <ng-container matColumnDef="leadSrc">
          <th mat-header-cell *matHeaderCellDef class="text-center">
            {{ "contacts.leadSrc" | translate }}
          </th>
          <td class="text-center" mat-cell *matCellDef="let element">
            {{ element.leadSrc }}
          </td>
        </ng-container>

        <ng-container matColumnDef="assignedTo">
          <th mat-header-cell *matHeaderCellDef class="text-center">
            {{ "shared.assignedTo" | translate }}
          </th>
          <td class="text-center" mat-cell *matCellDef="let element">
            {{ element.assignedTo }}
          </td>
        </ng-container>

        <ng-container matColumnDef="createdTime">
          <th mat-header-cell *matHeaderCellDef class="text-center">
            {{ "date.createdTime" | translate }}
          </th>
          <td class="text-center" mat-cell *matCellDef="let element">
            {{ element.createdTime | date : "medium" }}
          </td>
        </ng-container>

        <ng-container matColumnDef="updatedTime">
          <th mat-header-cell *matHeaderCellDef class="text-center">
            {{ "date.updatedTime" | translate }}
          </th>
          <td class="text-center" mat-cell *matCellDef="let element">
            {{ element.updatedTime | date : "medium" }}
          </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef class="text-center">
            {{ "action.actions" | translate }}
          </th>
          <td class="text-center" mat-cell *matCellDef="let element">
            <mat-icon
              class="text-warning pointer mx-1"
              (click)="openFormDialog('edit', element._id)"
            >
              edit
            </mat-icon>
            <mat-icon
              class="text-danger pointer mx-1"
              (click)="onDelete(element._id, element.contactName)"
            >
              delete
            </mat-icon>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
    <mat-paginator
      #contactPaginator
      [length]="totalRecords"
      [pageSize]="5"
      [pageSizeOptions]="[5, 10, 20, 30, 40, 50]"
    ></mat-paginator>
  </div>
</div>
