<div
  id="login-page-wrapper"
  class="authen-page-wrapper d-flex justify-content-center align-items-center"
>
  <div
    class="login-form-wrapper px-4 py-3 d-flex flex-column justify-content-center"
  >
    <h2 class="mx-auto text-black">
      {{ "shared.login" | translate }}
    </h2>
    <div class="mt-2">
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm)">
        <mat-form-field class="w-100 mb-3" appearance="outline">
          <mat-icon matPrefix> account_circle </mat-icon>
          <mat-label>
            {{ "user.table.username" | translate }}
          </mat-label>
          <input matInput formControlName="username" />
          @if (loginFormControl['username'].errors?.['required']) {
          <mat-error>
            {{ "shared.error.usernameRequired" | translate }}
          </mat-error>
          }
        </mat-form-field>

        <mat-form-field class="w-100 mb-2" appearance="outline">
          <mat-icon class="me-2" matPrefix> lock </mat-icon>
          <mat-label>
            {{ "user.table.password" | translate }}
          </mat-label>
          <input
            matInput
            type="password"
            formControlName="password"
            minlength="6"
          />
          @if (loginFormControl['password'].errors?.['required']) {
          <mat-error>
            {{ "shared.error.passwordRequired" | translate }}
          </mat-error>
          } @if (loginFormControl['password'].errors?.['minlength']) {
          <mat-error>
            {{ "shared.error.passwordMinLength" | translate }}
          </mat-error>
          }
        </mat-form-field>

        <div class="d-flex justify-content-center">
          <button
            class="mb-3"
            [ngClass]="loginForm.invalid ? 'btn-disabled' : 'btn-primary'"
            mat-button
            mat-raised-button
            color="primary"
            type="submit"
            [disabled]="loginForm.invalid"
          >
            {{ "shared.login" | translate }}
          </button>
        </div>
      </form>
    </div>
    <div class="mx-auto">
      <p>
        {{ "shared.noAccount" | translate }}
        <span
          class="text-info text-bold"
          routerLink="/register"
          routerLinkActive="active"
        >
          {{ "shared.register" | translate }}
        </span>
      </p>
    </div>
  </div>
</div>
