<div id="contact-form-wrapper">
  <h2 mat-dialog-title>
    {{ this.data.action === "add" ? "Create new Contact" : "Edit the Contact" }}
  </h2>
  <mat-dialog-content>
    <form class="mx-3 my-4" [formGroup]="contactForm">
      <div class="row">
        <mat-form-field class="col-6" appearance="outline">
          <mat-label>Contact name</mat-label>
          <input matInput formControlName="contactName" />
          @if (contactForm.controls['contactName'].errors?.['required']) {
          <mat-error>*Contact name is required</mat-error>
          }
        </mat-form-field>

        <mat-form-field class="col-6" appearance="outline">
          <mat-label>Salutation</mat-label>
          <mat-select formControlName="salutation">
            <mat-option *ngFor="let salut of salutations" [value]="salut">{{
              salut
            }}</mat-option>
          </mat-select>
          @if (contactForm.controls['salutation'].errors?.['required']) {
          <mat-error>*Salutation is required</mat-error>
          }
        </mat-form-field>
      </div>

      <div class="row my-3">
        <mat-form-field class="col-6" appearance="outline">
          <mat-label>Mobile phone</mat-label>
          <input matInput formControlName="mobilePhone" />
          @if (contactForm.controls['mobilePhone'].errors?.['required']) {
          <mat-error>*Mobile phone is required</mat-error>
          } @if (contactForm.controls['mobilePhone'].errors?.['pattern']) {
          <mat-error>*Invalid mobile phone number</mat-error>
          }
        </mat-form-field>

        <mat-form-field class="col-6" appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" />
          <mat-hint>{{ "user.emailHint" | translate }}</mat-hint>
          @if (contactForm.controls['email'].errors?.['email']) {
          <mat-error>*Invalid email address</mat-error>
          }
        </mat-form-field>
      </div>

      <div class="row my-3">
        <mat-form-field class="col-6" appearance="outline">
          <mat-label>Organization</mat-label>
          <input matInput formControlName="organization" />
        </mat-form-field>

        <mat-form-field class="col-6" appearance="outline">
          <mat-label>Lead source</mat-label>
          <mat-select formControlName="leadSrc">
            <mat-option *ngFor="let src of leadSources" [value]="src">
              {{ src }}
            </mat-option>
          </mat-select>
          @if (contactForm.controls['leadSrc'].errors?.['required']) {
          <mat-error>*Lead source is required</mat-error>
          }
        </mat-form-field>
      </div>

      <div class="row my-3">
        <mat-form-field
          class="col-6"
          appearance="outline"
          *ngIf="assignedToUsers && assignedToUsers.length > 0"
        >
          <mat-label>Assigned to</mat-label>
          <mat-select formControlName="assignedTo">
            <mat-option
              *ngFor="let user of assignedToUsers"
              [value]="user"
            >
              {{ user }}
            </mat-option>
          </mat-select>
          @if (contactForm.controls['assignedTo'].errors?.['required']) {
          <mat-error>*Assigned to is required</mat-error>
          }
        </mat-form-field>

        <mat-form-field class="col-6" appearance="outline">
          <mat-label>Date of birth</mat-label>
          <input matInput [matDatepicker]="dobPicker" formControlName="dob" />
          <mat-datepicker-toggle
            matSuffix
            [for]="dobPicker"
          ></mat-datepicker-toggle>
          <mat-datepicker #dobPicker></mat-datepicker>
        </mat-form-field>
      </div>

      <div class="row my-3">
        <mat-form-field class="col-12" appearance="outline" id="address">
          <mat-label>Address</mat-label>
          <input matInput formControlName="address" />
        </mat-form-field>
      </div>

      <div class="row">
        <mat-form-field class="col-12" appearance="outline">
          <mat-label>Description</mat-label>
          <textarea matInput formControlName="description"></textarea>
        </mat-form-field>
      </div>
    </form>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>
      {{ "action.cancel" | translate }}
    </button>
    <button
      mat-button
      cdkFocusInitial
      (click)="!contactForm.invalid && onSubmit()"
      [ngClass]="contactForm.invalid ? 'btn-disabled' : 'btn-primary'"
    >
      {{ "action.submit" | translate }}
    </button>
  </mat-dialog-actions>
</div>
