$primary: #006a71;
$secondary: #48a6a7;
$tertiary: #9acbd0;
$danger: #ff453a;
$warning: #ffd60a;
$success: #30d158;
$info: #64d2ff;
$grey: #f2efe7;
$grey-text: #8e8e93;
$dark: #031c1d;
$black80: rgba(3, 28, 29, 0.8);
$black50: rgba(3, 28, 29, 0.5);
$black20: rgba(3, 28, 29, 0.2);
$light: #ebebf0;
$pure-white: #ffffff;
$mat-table-border-color: rgba(0, 0, 0, 0.12);
$bg-two-color-gradient: linear-gradient(
  to left top,
  #f2efe7,
  #e1e6d8,
  #caddcf,
  #b1d5cd,
  #9acbd0
);
$bg-three-color-gradient: linear-gradient(
  to left top,
  #f2efe7,
  #e6e8db,
  #d6e2d3,
  #c4dbce,
  #b1d5cd,
  #a3cfca,
  #95c9c7,
  #87c2c6,
  #78bbbe,
  #69b4b7,
  #59adaf,
  #48a6a7
);
