/* You can add global styles to this file, and also import other style files */
// @import "@angular/material/prebuilt-themes/azure-blue.css";
@use "./base/variables" as *;
@use "./base/font" as *;

* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}

/* 
This typography stylings refer to Atlassian's typography design
Document can be found at https://atlassian.design/foundations/typography
*/
body {
  margin: 0;
  font-family: "Atlassian Sans", sans-serif;
}
h1 {
  font-size: 56px;
  font-weight: 800;
  line-height: 56px;
  font-family: "Atlassian Sans";
  color: $dark;
}
h2 {
  font-size: 32px;
  font-weight: 700;
  line-height: 48px;
  font-family: "Atlassian Sans";
  color: $dark;
}
h3 {
  font-size: 20px;
  font-weight: 500;
  font-family: "Atlassian Sans";
  color: $dark;
}
h4 {
  font-size: 18px;
  font-weight: 400;
  font-family: "Atlassian Sans";
  color: $dark;
}
h6 {
  font-size: 14px;
  font-weight: 300;
  font-family: "Atlassian Sans";
  color: $dark;
}
p,
span {
  font-size: 14px;
  font-family: "Atlassian Sans";
}

/* Expansion Panel custom stylings */
.mat-mdc-expansion-panel {
  .mat-mdc-expansion-panel-header {
    height: 48px !important;
    .mat-mdc-expansion-panel-header-title {
      h3 {
        margin-top: 8px;
      }
    }
  }
  .mat-mdc-expansion-panel-content {
    border-top: 1px solid $black20;
    .mat-mdc-expansion-panel-body {
      padding: 0;
    }
  }
}

/* Card custom stylings */
.mat-mdc-card {
  padding: 0 !important;
  .mat-mdc-card-header {
    height: 48px;
    .mat-mdc-card-header-text {
      .mat-mdc-card-title {
        margin-top: 12px;
      }
    }
  }
  .mat-mdc-card-content {
    border-top: 1px solid $black20;
    border-bottom: 1px solid $black20;
    margin-bottom: 0;
  }
  .mat-mdc-card-actions {
    height: 48px;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

/* Table custom stylings */
.mat-mdc-table {
  width: 100%;
  border-radius: 10px !important;
  .mat-mdc-header-row .mat-mdc-header-cell {
    font-size: 14px;
    font-weight: 600;
    font-family: "Atlassian Sans";
    color: $black80;
    border-right: 1px solid $mat-table-border-color;
  }
  th.mat-mdc-header-cell:first-of-type,
  td.mat-mdc-cell:first-of-type {
    padding-left: 8px;
    padding-right: 8px;
  }
  th.mat-mdc-header-cell:last-of-type,
  td.mat-mdc-cell:last-of-type {
    padding-left: 8px;
    padding-right: 8px;
  }
  .mat-mdc-row .mat-mdc-cell {
    font-size: 14px;
    font-family: "Atlassian Sans";
    border-right: 1px solid $mat-table-border-color;
  }
}

/* Form custom stylings */
.mat-mdc-form-field {
  // height: 56px !important;
  font-size: 14px !important;
  .mdc-text-field--outlined {
    --mdc-outlined-text-field-container-shape: 8px !important;
  }
  --mat-form-field-container-height: 48px;
  --mat-form-field-container-vertical-padding: 12px;
  .mdc-floating-label {
    font-size: 14px !important;
  }
}

/* Slide toggle custom stylings */
// .mdc-switch__track {
//   height: 26px !important;
// }
// .mat-mdc-slide-toggle .mdc-switch__handle:has(.mdc-switch__icons) {
//   width: 18px !important;
//   height: 18px !important;
// }

/* Define standard colors */
.btn-primary {
  background-color: $primary !important;
  color: $light !important;
}
.btn-secondary {
  background-color: $secondary;
  color: $light;
}
.btn-tertiary {
  background-color: $tertiary;
  color: $dark;
}
.btn-grey {
  background-color: $light;
  color: $dark;
}
.btn-success {
  background-color: $success;
  color: $pure-white;
}
.btn-danger {
  background-color: $danger;
  color: $pure-white;
}
.btn-warning {
  background-color: $warning;
  color: $dark;
}
.btn-info {
  background-color: $info;
  color: $pure-white;
}
.btn-disabled {
  background-color: $black20;
  color: $dark;
}
.bg-success {
  background-color: $success;
}
.bg-danger {
  background-color: $danger;
}
.bg-warning {
  background-color: $warning;
}
.bg-info {
  background-color: $info;
}
.bg-disabled {
  background-color: $black20;
}
.text-danger {
  color: $danger !important;
}
.text-warning {
  color: $warning;
}
.text-white {
  color: $pure-white !important;
}
.text-black {
  color: $dark !important;
}
.text-info {
  color: $info !important;
}
.text-grey {
  color: $grey-text !important;
}
.pointer {
  cursor: pointer;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-bold {
  font-weight: 600;
}

.customDialog {
  max-height: 95%;
  width: 50%;
  overflow-y: auto;

  mat-grid-tile {
    border: 1px solid lightgray;
    padding: 0;
  }
}

mat-progress-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.green-success-snackbar {
  background-color: $success !important;
  color: #fff;
  font-weight: 500;
}

.red-error-snackbar {
  background-color: $danger !important;
  color: #fff;
  font-weight: 500;
}

.orange-warning-snackbar {
  background-color: $warning !important;
  color: #fff;
  font-weight: 500;
}

.default-snackbar {
  font-weight: 500;
}
